In [1]:
import json
import time, datetime
from pymongo import MongoClient
import pandas as pd
import os
from dateutil import parser

### Convert mongo json into csv

In [2]:
db_url = 'ec2-54-67-97-244.us-west-1.compute.amazonaws.com:27017'
db_name = 'activities'

In [3]:
# start_day = datetime.datetime(2015, 1, 1)

In [4]:
mongocli = MongoClient(db_url)# init mongodb client
mongodb = mongocli[db_name] # connect 'github' database

In [5]:
stars = mongodb['repos.IanLunn.Hover.stargazers'].find({"starred_at": {"$gte": '2015-01-01'}},
                                                        {"_id":0, "starred_at": 1, "user.type": 1, "user.id":1, "user.login":1, "user.site_admin":1})
stars.count(with_limit_and_skip=True) # enable limit

9592

In [6]:
for s in stars.limit(10):
    print ['IanLunn', 'Hover'] + [s['starred_at']] + s['user'].values()

['IanLunn', 'Hover', u'2015-01-01T09:41:31Z', u'jason-gu', False, u'User', 2045134]
['IanLunn', 'Hover', u'2015-01-02T07:28:13Z', u'ddliu', False, u'User', 797146]
['IanLunn', 'Hover', u'2015-01-02T16:48:40Z', u'gopalindians', False, u'User', 1937433]
['IanLunn', 'Hover', u'2015-01-02T23:21:49Z', u'Siot', False, u'User', 4410120]
['IanLunn', 'Hover', u'2015-01-03T08:48:12Z', u'cxwe', False, u'User', 9068824]
['IanLunn', 'Hover', u'2015-01-03T11:42:45Z', u'putaoshu', False, u'User', 406587]
['IanLunn', 'Hover', u'2015-01-03T13:28:07Z', u'eLmre', False, u'User', 3106214]
['IanLunn', 'Hover', u'2015-01-03T17:58:51Z', u'imkarthikk', False, u'User', 973265]
['IanLunn', 'Hover', u'2015-01-04T03:06:59Z', u'xiaokaike', False, u'User', 4251499]
['IanLunn', 'Hover', u'2015-01-04T06:39:23Z', u'jso0', False, u'User', 6308325]

In [7]:
mongocli.close()

In [8]:
def starring_etl(mongodb, coll_name, start_day):
    """ Description: function to flatten mongodb into dataframe
        - mongodb: mongodb database connection
        - coll_name: collection name
        - start_day: str, the day that the query starts from, ie. '2015-01-01'
    """
    stars_list = [] # init a list to contain query result
    stars = mongodb[coll_name].find({"starred_at": {"$gte": start_day}},
                                                    {"_id":0, "starred_at": 1, "user.type": 1, "user.id":1, "user.login":1, "user.site_admin":1})
    for star in stars:
        stars_list.append(coll_name.split('.')[1:3] + [star['starred_at']] + star['user'].values()) # append the flattened row
    # construct a dataframe
    stars_df = pd.DataFrame(stars_list, columns=['owner', 'repo', 'starred_at', 'user.login', 'user.site_admin', 'user.type', 'user.id'])
    print coll_name, stars_df.shape
    
    return stars_df

In [9]:
stars_df = starring_etl(mongodb, 'repos.IanLunn.Hover.stargazers', '2015-01-01')

repos.IanLunn.Hover.stargazers (9592, 7)

In [49]:
def dump_starring(db_url, db_name, start_day):
    """ Description: function to write 
        - db_url: mongodb url
        - db_name: mongodb database name
        - start_day: str, the day that the query starts from, ie. '2015-01-01'
    """
    mongocli = MongoClient(db_url)# init mongodb client
    mongodb = mongocli[db_name] # connect 'github' database
    coll_names = mongodb.collection_names() # get collection names
    
    for coll_name in coll_names: # loop collections
        # construct a dataframe
        stars_df = starring_etl(mongodb=mongodb, coll_name=coll_name, start_day=start_day)
        
        # write out csv
        file_name = 'starring_sample10.csv'
        if not os.path.isfile(file_name): # if file not exist, wirte column names
            stars_df.to_csv(file_name, index=False)
        else: # else it exists, not append colnames
            stars_df.to_csv(file_name, mode = 'a', header=False, index=False)
        print coll_name + 'is completed...'
        print '-------------------------------------------------'
        
    mongocli.close()

In [50]:
dump_starring(db_url, db_name, '2015-01-01')

repos.lebinh.ngxtop.stargazers (986, 7)
repos.lebinh.ngxtop.stargazersis completed...
-------------------------------------------------
repos.madebymany.sir-trevor-js.stargazers (866, 7)
repos.madebymany.sir-trevor-js.stargazersis completed...
-------------------------------------------------
repos.IanLunn.Hover.stargazers (9592, 7)
repos.IanLunn.Hover.stargazersis completed...
-------------------------------------------------
repos.jschr.bootstrap-modal.stargazers (877, 7)
repos.jschr.bootstrap-modal.stargazersis completed...
-------------------------------------------------
repos.eczarny.spectacle.stargazers (3814, 7)
repos.eczarny.spectacle.stargazersis completed...
-------------------------------------------------
repos.jquery.jquery-ui.stargazers (1455, 7)
repos.jquery.jquery-ui.stargazersis completed...
-------------------------------------------------
repos.JakeWharton.ViewPagerIndicator.stargazers (3547, 7)
repos.JakeWharton.ViewPagerIndicator.stargazersis completed...
-------------------------------------------------
repos.rendrjs.rendr.stargazers (955, 7)
repos.rendrjs.rendr.stargazersis completed...
-------------------------------------------------
repos.carrierwaveuploader.carrierwave.stargazers (1681, 7)
repos.carrierwaveuploader.carrierwave.stargazersis completed...
-------------------------------------------------
repos.inconshreveable.ngrok.stargazers (4221, 7)
repos.inconshreveable.ngrok.stargazersis completed...
-------------------------------------------------

### Slice starring with the last 52 weeks

__20 Sep 2015 ~ 11 Sep 2016__

In [2]:
starrings = pd.read_csv('./data/starring_sample10.csv')

In [3]:
starrings.head()

,owner,repo,starred_at,user.login,user.site_admin,user.type,user.id
0,lebinh,ngxtop,2015-01-01T02:07:47Z,GameCracker,False,User,4250690
1,lebinh,ngxtop,2015-01-01T18:44:45Z,qorbani,False,User,771382
2,lebinh,ngxtop,2015-01-02T18:38:04Z,vrrs,False,User,2623289
3,lebinh,ngxtop,2015-01-02T21:35:50Z,Aldor007,False,User,2446168
4,lebinh,ngxtop,2015-01-03T12:45:05Z,azhurbilo,False,User,6387460

In [4]:
# transform isodate into datetime
starrings.starred_at = starrings.starred_at.apply(lambda x : parser.parse(x))

In [59]:
starrings52 = starrings[starrings['starred_at'] >= '2015-09-20']

In [60]:
starrings52['year'] = starrings52.starred_at.dt.year
starrings52['weekofyear'] = starrings52.starred_at.dt.weekofyear

In [61]:
starrings52['weekofyear'].unique()

array([38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,  1,
        2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36])

In [62]:
len(starrings52['weekofyear'].unique())

52

In [63]:
starrings52[starrings52['year'] == 2015]['weekofyear'].unique()

array([38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53])

In [64]:
starrings52[starrings52['year'] == 2016]['weekofyear'].unique()

array([53,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36])

In [65]:
# weekofyear in 2015 - 37
# weekofyear in 2016 + 16
starrings52['weekofyear'] = starrings52['weekofyear'].apply(lambda i : i - 37 if i >= 38 else i + 16)

In [66]:
starrings52.weekofyear.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52])

In [75]:
starrings52_group = starrings52.groupby(by=['owner', 'repo', 'weekofyear'])['starred_at'].count().reset_index()

In [78]:
starrings52_group = starrings52_group.rename(columns = {'starred_at':'stars'})
starrings52_group.head()

     owner   repo  weekofyear  stars
0  IanLunn  Hover           1     15
1  IanLunn  Hover           2     84
2  IanLunn  Hover           3     67
3  IanLunn  Hover           4     74
4  IanLunn  Hover           5     82

In [79]:
starrings52_group.to_csv('./data/starrings_group_sample10.csv', index=False, header=True)