In [1]:
import json
import time, datetime
import pandas as pd
import os
from dateutil import parser

In [6]:
df_Stats_52w_cmmt_1000_4 = pd.read_csv('./data/drive-download-20161003T034836Z/df_Stats_52w_cmmt_1000_4.csv')

In [7]:
df_Stats_52w_cmmt_1000_4.head()

   Unnamed: 0  all_commits  owner_commits owner       repo
0           0           20              0  twbs  bootstrap
1           1           37              0  twbs  bootstrap
2           2           23              0  twbs  bootstrap
3           3           64              0  twbs  bootstrap
4           4           24              0  twbs  bootstrap

In [4]:
df_Stats_day_hr_com_1000_5 = pd.read_csv('./data/drive-download-20161003T034836Z/df_Stats_day_hr_com_1000_5.csv')

In [5]:
df_Stats_day_hr_com_1000_5.head()

   Unnamed: 0  day_of_week  hour_of_day  num_of_commits owner       repo
0           0            0            0              82  twbs  bootstrap
1           1            0            1              72  twbs  bootstrap
2           2            0            2              28  twbs  bootstrap
3           3            0            3              19  twbs  bootstrap
4           4            0            4              17  twbs  bootstrap

In [8]:
df_Stats_w_freq_1000_3 = pd.read_csv('./data/drive-download-20161003T034836Z/df_Stats_w_freq_1000_3.csv')

In [9]:
df_Stats_w_freq_1000_3.head()

   Unnamed: 0        week  num_of_additions  num_of_deletions owner       repo
0           0  1303603200              6018              -473  twbs  bootstrap
1           1  1304208000              7571             -6094  twbs  bootstrap
2           2  1304812800               225               -10  twbs  bootstrap
3           3  1305417600                 0                 0  twbs  bootstrap
4           4  1306022400                 0                 0  twbs  bootstrap

In [10]:
df_contribution_his = pd.read_csv('./data/drive-download-20161003T034836Z/df_contribution_his.csv')

In [11]:
df_contribution_his.head()

   a  c  d           w owner       repo contributorName  contributorId
1  0  0  0  1304208000  twbs  bootstrap        rahulnwn         954075
2  0  0  0  1304812800  twbs  bootstrap        rahulnwn         954075
3  0  0  0  1305417600  twbs  bootstrap        rahulnwn         954075
4  0  0  0  1306022400  twbs  bootstrap        rahulnwn         954075
5  0  0  0  1306627200  twbs  bootstrap        rahulnwn         954075

In [12]:
df_contributor_main_1000 = pd.read_csv('./data/drive-download-20161003T034836Z/df_contributor_main_1000.csv')

In [13]:
df_contributor_main_1000.head()

   Unnamed: 0 contributorName owner       repo  ttl_commits userType
0           0        rahulnwn  twbs  bootstrap          3.0     User
1           0         reywood  twbs  bootstrap          3.0     User
2           0         meleyal  twbs  bootstrap          3.0     User
3           0             DHS  twbs  bootstrap          3.0     User
4           0          sprice  twbs  bootstrap          3.0     User

In [14]:
df_stat_repo_main_1000 = pd.read_csv('./data/drive-download-20161003T034836Z/df_stat_repo_main_1000.csv')

In [15]:
df_stat_repo_main_1000.head()

  owner       repo contributorName  contributorId   a  c   d
0  twbs  bootstrap        rahulnwn         954075   3  3   2
1  twbs  bootstrap         reywood        1796302  25  3   3
2  twbs  bootstrap         meleyal          15045  28  3  28
3  twbs  bootstrap             DHS         326442  16  3  16
4  twbs  bootstrap          sprice         165397   3  3   6

In [31]:
df_weekly_commits_1000_2 = pd.read_csv('./data/drive-download-20161003T034836Z/df_weekly_commits_1000_2.csv')

In [32]:
df_weekly_commits_1000_2.head()

,Unnamed: 0,total,Sun,Mon,Tue,Wed,Thur,Fri,Sat,owner,repo,date
0,0,16,1,0,5,4,2,2,2,twbs,bootstrap,2015-10-04 00:00:00
1,1,27,3,5,1,9,2,4,3,twbs,bootstrap,2015-10-11 00:00:00
2,2,24,0,3,1,1,1,13,5,twbs,bootstrap,2015-10-18 00:00:00
3,3,39,1,6,6,7,16,1,2,twbs,bootstrap,2015-10-25 00:00:00
4,4,15,2,1,7,1,4,0,0,twbs,bootstrap,2015-11-01 00:00:00

### ETL full starrings

In [2]:
starrings_full = pd.read_csv('./data/starrings_full.csv')

In [3]:
starrings_full.head()

,owner,repo,starred_at,user.login,user.site_admin,user.type,user.id
0,npm,marky-markdown,2014-12-19T22:20:50Z,ceejbot,False,User,757502
1,npm,marky-markdown,2015-01-06T09:12:49Z,sorrycc,False,User,35128
2,npm,marky-markdown,2015-01-14T18:56:14Z,bcoe,False,User,194609
3,npm,marky-markdown,2015-01-26T21:30:28Z,pose,False,User,419703
4,npm,marky-markdown,2015-01-29T16:43:08Z,mattallty,False,User,178616

In [9]:
# transform isodate into datetime
starrings_full.starred_at = starrings_full.starred_at.apply(lambda x : parser.parse(x))

In [74]:
starrings_full52 = starrings_full[starrings_full['starred_at'] >= '2015-10-04']

In [75]:
starrings_full52['year'] = starrings_full52.starred_at.dt.year
starrings_full52['weekofyear'] = starrings_full52.starred_at.dt.weekofyear

In [76]:
starrings_full52['weekofyear'].unique()

array([44, 45, 47, 48, 49, 50, 53,  1,  2,  3,  4,  5,  6,  7,  9, 11, 12,
       13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32,
       33, 34, 35, 37, 38, 40, 41, 42, 43, 46, 51, 52,  8, 10, 16, 18, 26,
       36])

In [77]:
sorted(starrings_full52[starrings_full52['year'] == 2015]['weekofyear'].unique())

[40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [79]:
starrings_full52[starrings_full52['year'] == 2016]['weekofyear'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  9, 11, 12, 13, 14, 15, 17, 19, 20, 21,
       22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38,  8, 10,
       16, 18, 26, 36, 53])

In [80]:
# weekofyear in 2015 - 39
# weekofyear in 2016 + 14
starrings_full52['weekofyear'] = starrings_full52['weekofyear'].apply(lambda i : i - 39 if i >= 40 else i + 14)

In [81]:
starrings_full52.weekofyear.unique()

array([ 5,  6,  8,  9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 26,
       27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46,
       47, 48, 49, 51, 52,  1,  2,  3,  4,  7, 12, 13, 22, 24, 30, 32, 40,
       50])

In [82]:
starrings_full52_group = starrings_full52.groupby(by=['owner', 'repo', 'weekofyear'])['starred_at'].count().reset_index()

In [83]:
starrings_full52_group.columns = ['owner', 'repo', 'weekofyear', 'total_stars']

In [84]:
starrings_full52_group.to_csv('./data/starrings_full52_group.csv', index=False, header=True)

In [85]:
starrings_full52_group.head()

  owner   repo  weekofyear  total_stars
0  BVLC  caffe           1            8
1  BVLC  caffe           2          104
2  BVLC  caffe           3           99
3  BVLC  caffe           4           96
4  BVLC  caffe           5          132

### Check max date against

In [30]:
starrings_full.starred_at.max()

Timestamp('2016-09-25 17:56:55+0000', tz='UTC')

In [36]:
starrings_full.starred_at.max().isocalendar()[1]

38

In [33]:
df_weekly_commits_1000_2.date = df_weekly_commits_1000_2.date.apply(lambda x : parser.parse(x))

In [34]:
df_weekly_commits_1000_2.date.max()

Timestamp('2016-10-02 00:00:00')

In [56]:
df_weekly_commits_1000_2.date.min()

Timestamp('2015-10-04 00:00:00')

In [37]:
df_weekly_commits_1000_2.date.max().isocalendar()[1]

39

### It should start with 2015-10-04 ~ 2016-09-25